<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fashion Finds - Online Shopping{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        <div class="base-flash-message">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for alert_type, message in messages %}
                        <div class="alert alert-{{alert_type}}">
                            {{message}}
                            <button type="button" class="close" onclick="this.parentElement.style.display='none'" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        {% block content %}
        {% endblock %}
    </main>

    {% include 'footer.html' %}
</body>
</html>
